
.DS_Store
.ipynb_checkpoints/chaines_listes_dicos-checkpoint.ipynb
.ipynb_checkpoints/Fichierstextes_2_création_automatique-checkpoint.ipynb
.ipynb_checkpoints/dictionnairesformationisn-checkpoint.ipynb
.ipynb_checkpoints/S1-basespython-checkpoint.ipynb
_config.yml
.ipynb_checkpoints/S1-basespython-checkpoint.ipynb
